.panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background: #333;
    z-index: 1;
    display: none;
    transition: 1.5s;
    p {
        color: white;
    }
}

.location-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background: white;
    width: 100%;
    height: 70px;
    form {
        width: 100%;
        a {
            width: 10%;
            float: left;
            height: 100%;
            text-align: center;
            border-radius: 0px;
            background: #333;
            border: none;
            @extend %flex-box;
            i {
                color: white;
                font-size: 30px;
            }
        }
        input {
            width: 60%;
            float: left;
            height: 100%;
            font-size: 20px;
            border-radius: 0px;
            border: none;
        }
        button {
            margin: 0;
            width: 30%;
            float: left;
            height: 100%;
            font-size: 20px;
            border: none;
            border-radius: 0px;
            background: rgb(184, 91, 3);
        }
        button:hover {
            background: rgb(119, 59, 2);
        }
    }
}