.menu, .menu a, .login-background .login-content, .register-background .register-content, .admin-dash, .admin-dash .admin-head a, .admin-dash .admin-button, .location-container-admin form a, .panel, .location-container form a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

/* START: Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  z-index: 2; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }

  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }

  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }

  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }

  to {
    bottom: 0;
    opacity: 0; } }

.menu {
  width: 60vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  overflow: hidden;
  background: #333;
  transition: width .35s ease-in-out; }
  .menu a {
    margin: 0;
    color: white;
    margin-bottom: 1px;
    width: 100%;
    height: 40px;
    background: #494949; }
  .menu a:hover {
    background: #757474;
    text-decoration: none; }

.hide {
  width: 0vw; }

.show {
  width: 60vw; }

/* END: Snackbar */
.login-background {
  background: url("../img/life.jpg");
  background-position: -500px 0px;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .login-background .login-content {
    width: 100%;
    height: 100%;
    background: rgba(49, 48, 48, 0.712); }
    .login-background .login-content img {
      width: 60%; }
    .login-background .login-content form {
      width: 60%; }
      .login-background .login-content form input {
        border: none;
        background: rgba(0, 0, 0, 0);
        border-bottom: 1px solid white;
        border-radius: 0px;
        margin-bottom: 30px;
        color: white;
        text-align: center; }
      .login-background .login-content form input:hover {
        border-bottom: 1px solid #0084ff; }
      .login-background .login-content form ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fcf9f9;
        opacity: 1;
        text-align: center;
        /* Firefox */ }
      .login-background .login-content form .buttons {
        width: 100%;
        margin-top: 50px; }
        .login-background .login-content form .buttons button,
        .login-background .login-content form .buttons a {
          width: 50%;
          float: left;
          padding: 2% 1%;
          text-align: center; }
        .login-background .login-content form .buttons button {
          background: rgba(0, 0, 0, 0);
          border: 2px solid white;
          color: white;
          border-radius: 20px; }
        .login-background .login-content form .buttons button:hover {
          color: #fcf9f9;
          border: 2px solid #fcf9f9; }
        .login-background .login-content form .buttons a {
          color: white; }

.register-background {
  width: 100vw;
  height: 100vh;
  background: url("../img/life.jpg");
  background-size: cover; }
  .register-background .register-content {
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.63); }
    .register-background .register-content h1 {
      color: white;
      font-size: 8vw;
      margin-bottom: 15px; }
    .register-background .register-content form {
      width: 80%; }
      .register-background .register-content form input {
        margin-bottom: 20px; }
      .register-background .register-content form button,
      .register-background .register-content form a {
        margin-top: 20px;
        width: 100%; }
      .register-background .register-content form button {
        background: #008cff;
        border: #008cff; }
      .register-background .register-content form a {
        background: #17da99;
        border: #17da99; }
      .register-background .register-content form hr {
        background: #51ff9a; }

.admin-dash {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #f0efef; }
  .admin-dash .admin-head {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #5e5d5d;
    z-index: 2; }
    .admin-dash .admin-head a {
      height: 100%;
      width: 20%;
      float: left;
      border: none;
      border-radius: 0px;
      color: white; }
    .admin-dash .admin-head h1 {
      margin-top: 10px;
      font-size: 20px;
      color: white;
      width: 60%;
      float: right; }
  .admin-dash .admin-button {
    margin-top: 10px;
    height: 100px;
    text-decoration: none;
    width: 60%;
    background: #0994f1;
    border: none;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .admin-dash .admin-button:hover {
    text-decoration: none; }

.marker-inputs {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw; }
  .marker-inputs input {
    border-radius: 0; }
  .marker-inputs button {
    width: 100%;
    border-radius: 0; }
  .marker-inputs #form-total {
    width: 50%;
    float: left; }
  .marker-inputs #form-cost {
    width: 50%;
    float: left; }

.location-container-admin {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: white;
  width: 100%;
  height: 50px; }
  .location-container-admin form {
    width: 100%;
    height: 100%; }
    .location-container-admin form a {
      width: 20%;
      height: 100%;
      float: left;
      color: #333;
      font-size: 20px; }
    .location-container-admin form input {
      width: 60%;
      float: left;
      height: 100%;
      border-radius: 0px;
      border: none; }
    .location-container-admin form button {
      margin: 0;
      width: 20%;
      float: left;
      height: 100%;
      border: none;
      border-radius: 0px;
      background: #08b874; }
    .location-container-admin form button:hover {
      background: #027e4e; }

.panel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 200px;
  background: white;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: height .35s ease-in-out; }
  .panel h1 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px; }
  .panel button {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0px;
    background: #1cb98a; }
  .panel #marker-id {
    display: none; }
  .panel #cost-per-hour {
    display: none; }

.location-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: white;
  width: 100%;
  height: 50px; }
  .location-container form {
    width: 100%; }
    .location-container form a {
      width: 20%;
      float: left;
      height: 100%;
      text-align: center;
      border-radius: 0px;
      background: white;
      border: none; }
      .location-container form a i {
        color: #636161;
        font-size: 20px; }
    .location-container form input {
      width: 60%;
      float: left;
      height: 100%;
      border-radius: 0px;
      border: none; }
    .location-container form button {
      margin: 0;
      width: 20%;
      float: left;
      height: 100%;
      border: none;
      border-radius: 0px;
      background: #1cb98a; }
    .location-container form button:hover {
      background: #095f45; }

#map-canvas {
  width: 100vw;
  height: 100vh;
  z-index: 0; }
