.admin-dash {
    width: 100vw;
    height: 100vh;
    position: relative;
    @extend %flex-box;
    background: rgb(240, 239, 239);
    .admin-head {
        width: 100%;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(94, 93, 93);
        z-index: 2;
        a {
            @extend %flex-box;
            height: 100%;
            width: 20%;
            float: left;
            border: none;
            border-radius: 0px;
            // background: rgb(66, 66, 66);
            color: white;
        }
        h1 {
            // height: 100%;
            margin-top: 10px;
            font-size: 20px;
            color: white;
            width: 60%;
            float: right;
        }
    }
    .admin-button {
        @extend %flex-box;
        margin-top: 10px;
        height: 100px;
        text-decoration: none;
        width: 60%;
        background: rgb(9, 148, 241);
        border: none;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .admin-button:hover {
        text-decoration: none;
    }
}